/*--------------------------
 reset
--------------------------*/
@import "_reset";

/*--------------------------
 FONTS
--------------------------*/
@import "_fonts";



/*--------------------------
 GLOBAl
--------------------------*/

body{
	color: #000;
	min-width: 320px;
	background: #fff;
	line-height: 1.6;
	font-size: 16px;
	font-family: "RobotoRegular", sans-serif;
}


/*--------------------------
 CUSTOM CODE GOES HERE
--------------------------*/

