/*--------------------------
 reset
--------------------------*/
@import "parts/_reset";


/*--------------------------
 FONTS
--------------------------*/
@import "parts/_fonts";


/*--------------------------
GRID BOOTSTRAP
--------------------------*/
@import "parts/_grid";


/*--------------------------
 VARiabl
--------------------------*/
$accentCollor: #00AAF5;

/*--------------------------
 MAIN
--------------------------*/



body{
	color: #000;
	min-width: 320px;
	background: #fff;
	line-height: 1.6;
	font-size: 16px;
	font-family: "Lato", sans-serif;
}

.header{
	width: 100%;
	height: 100vh;
	padding-top: 50px;
	background-image: url(../img/headerbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	&__menu{
		text-align: right;
	}
	&__title{
		text-align: center;
		color: #ffffff;
		font-family: Raleway, sans-serif;
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;
		margin: 0;
		padding-bottom: 65px;
		&:after{
			display: block;
			width: 82px;
			height: 2px;
			background-color: #fff;
			position: absolute;
			left: 50%;
			margin-left: -41px;
			bottom: 30px;
			content: "";
		}
	}
	&__desc{
		color: #fffefe;
		font-family: Lato, sans-serif;
		font-size: 22px;
		font-weight: 400;
		text-align: center;
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
	}
	&__title-group{
		padding-top: 25vh;
	}
}

.mob-mnu{
	color: #fff;
	font-size: 35px;
	line-height: 1;
	display: none;
}

.menu{
	list-style-type: none;
	padding-top: 5px;
	&__item{
		display: inline-block;
		margin: 0 20px; 
		text-transform: uppercase;
	}
	&__link{
		color: #fff;
		text-decoration: none;
		transition: 0.3s;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom: 1px solid #fff;
			color: #fff;
			text-decoration: none;
		}
		&:focus{
			border-color: $accentCollor;
			color: #fff;
			text-decoration: none;
		}
	}	
}

.arrow-douw{
	position: absolute;
	left: 50%;
	bottom: 40px;
	margin-left: -46px;
	display: inline-block;
	width: 92px;
	height: 92px;
	border: 3px solid #fff;
	opacity: 0.5;
	border-radius: 50%;
	font-size: 60px;
	color: #fff;
	line-height: 88px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	&:hover{
		background: #fff;
		color: $accentCollor;
	}
	&:focus{
		background-color: transparent;
	}
}

.block{
	width: 100%;
	max-width: 340px;
	margin: 0 auto;	
	padding: 10px;
	transition: 0.3s;
	cursor: pointer;

	&__img{
		width:100%;
		height: auto;
	}
	&__image{
		width: 100%;
		justify-content: center;
	    align-items: center;
	    display: flex;
		min-height: 149px;
		margin-bottom: 15px
	}
	&__img{
		&--phone{
			width: 75px;
			height: 132px;
		}
		&--screens{
			width: 192px;
			height: 149px;
		}
		&--circle{
			width: 116px;
			height: 116px;
		}
	}
	&__title{
		color: #222222;
		font-size: 24px;
		text-align: center;
		font-weight: 400;
		padding-bottom: 15px;
	}
	&__desc{
		font-size: 16px;
		line-height: 2;
		text-align: center;	
	}
	&:hover{
		transform: scale(1.1);
		box-shadow: 0px 1px 7px -2px #000;
	}

}

.servises{
	padding: 100px 0;
}

.title{
	text-align: center;	
	color: #222222;
	font-family: Raleway;
	font-size: 35px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	padding-bottom: 140px;
	position: relative;
	margin: 0;	
	&:after{
			display: block;
			width: 82px;
			height: 2px;
			background-color: #000;
			position: absolute;
			left: 50%;
			margin-left: -41px;
			bottom: 83px;
			content: "";
		}
	&--white{
		color: #fff;
		&:after{
			background-color: #fff;
		}
	}
}

.product{
	background-image: url(../img/sectionbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding-top: 70px;
	&:before{
		background:	#000;
		opacity: 0.5;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		content: '';
	}
	&__wrapper{
		max-width: 560px;
		width: 100%;
		padding: 83px 0;	
	}
	&__title{
		color: #fff;
		font-size: 45px;
		text-transform: uppercase;
	}
	&__desc{
		color: #fff;
		font-size: 22px;
		font-weight: 100;
		width: 90%;
		line-height: 1.3;
		padding-bottom: 55px;
	}
	&__link{
		color: #fff;
		text-decoration: underline;
		transition: 0.3s;
		&:hover{
			color: $accentCollor;
		}
		&:focus{
			color: lighten($accentCollor, 4%)
		}
	}
}

.works{
	padding: 110px 0 75px 0;
	&__btn-wrapper{
		text-align: center;
		margin-top: 75px;
	}
}

.box-work{
	width: 100%;
	max-width: 340px;
	margin: 0 auto;	
	text-align: center;
	position: relative;
	trasition: 0.3s;
	&:before{
		display: block;
		width: 100%;
		background-color: #000;
		opacity: 0;
		height: 100%;
		position: absolute;
		content: "";
		transition: 0.3s
	}
	&__img{
		width: 100%;
	}
	&__link{
		position: absolute;
		text-align: center;
		top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	color: #fff;
    	text-decoration: none;
    	font-weight: 400;
    	font-size: 22px;
    	display: inline-block;
    	text-transform: uppercase;
		white-space: nowrap;
		transition: 0.3s;
		visibility: collapse;
		opacity: 0;
		&:hover{
    		text-decoration: none;
    		color: $accentCollor;
    	}
	}
	&__icon{
		font-size: 	45px;
		margin: 15px 0;	
	}
	&:hover .box-work__link{
		visibility: inherit;
		opacity: 1;
	}
	&:hover:before{
		opacity: 0.75;
	}
}

.btn{
	display: inline-block;
	font-size: 24px;
	color: #222222;
	text-transform: uppercase;
	border: 3px solid #222222;
	min-width: 370px;
	padding: 10px;
	text-align: center;
	transition: 0.3s;
	&:hover{
		text-decoration: none;
		color: #222222;
		box-shadow: 0 5px 11px 0 rgba(0,0,0,.17), 0 4px 15px 0 rgba(0,0,0,.15);
	}
	&:focus{
		text-decoration: none;
		color: #222222;
		box-shadow: 0 2px 11px 0 rgba(0,0,0,.17), 0 1px 15px 0 rgba(0,0,0,.15);
	}
	&--white{
		color: #fff;
		background: transparent;
		min-width: 183px;
		border: 2px solid #fff;
		font-size: 24px;
		&:hover{
			color: $accentCollor;
			border-color: $accentCollor;
		}
		&:focus{
			color: #fff;
			border-color: $accentCollor;
		}
	}
}

.footer{
	background-image: url(../img/footerbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding-top: 110px;
	padding-bottom: 110px
}

.social-list{
	list-style-type: none;
	text-align: center;
	margin-bottom: 20px;
	&__item{
		display: inline-block;
		margin: 0 12px;	
	}
	&__link{
		color: #fff;
		font-size: 24px;
		transition: 0.3s;
		display: inline-block;
		&:hover{
			color: $accentCollor;
			transform: rotateY(360deg);
		}
	}
}

.form{
	width: 100%;
	max-width: 680px;
	padding: 10px;
	margin: 0 auto;
	&__row{
		width: 100%;
		&:after{
			content: '';
			clear: both;
			display: table;
		}
		&:before{
			content: '';
			clear: both;
			display: table;
		}
	}
	&__column{
		float: left;
		width: 50%;
		&:first-child{
			padding-right: 30px;
		}
		&:last-child{
			padding-left: 30px;
		}
	}

	&__btn-wrapper{
		text-align: center;
		margin-top: 40px;
	}
	&__input-wrapper{
		position: relative;
		padding-bottom: 20px;
		padding-top: 20px;
		&--large-margin{
			margin-top: 47px;
		}
	}
	&__label{
		position: absolute;
		top: 26px;
		color: #676767;
		left: 25px;
		font-style: italic;
		font-size: 18px;
		z-index: 0;
		transition: 0.3s;
		font-weight: 400;
	}
	&__input{
		width: 100%;
		background:none;
		border: none;
		color: #fff;
		border-bottom: 2px solid #afafaf;
		padding-left: 25px;
		font-size: 18px;
		height: 47px;
		position: relative;
		box-shadow: none; 
		z-index: 2;
		&:not(:placeholder-shown) ~ .form__label{
			top: 0;
			left: 0;
			font-size: 16px;
		}

		&:focus ~ .form__label{
			top: 0;
			left: 0;
			font-size: 16px;
		}
		&:valid ~ .form__label, &:valid{
			color: $accentCollor;
			border-color: $accentCollor
		}
		&:not(:placeholder-shown):invalid ~ .form__label, &:not(:placeholder-shown):invalid{
			color: #EF0000;
			border-color: #EF0000;
		}
	}
}

/*--------------------------
MEDIA
--------------------------*/
@import "parts/_media";

/*--------------------------
IE CHECK
--------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.form__label{
		top: 0;
		font-size: 16px;
	}
}
