/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){


}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.menu{
		padding-top: 2px;
		&__item{
			margin: 0 10px;
		}
	}
	.product{
		&__wrapper{
			margin: 0 auto;
			padding: 0;
		}

	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.menu{
		display: none;
	}
	.mob-mnu{
		display: inline-block;
	}
	.arrow-douw{
		display: none;
	}
	.header{
		height: auto;
		&__title-group{
			padding: 50px 0;
		}
		&__title{
			font-size: 30px;
		}
	}
	.servises, .works{
		padding: 50px 0; 
	}
	.title{
		padding-bottom: 100px;
	}
	.block{
		padding-bottom: 30px;
	}
	.product{
		text-align: center;
		&__wrapper{
			padding: 30px 0;
			margin: 0 auto;
		}
		&__desc{
			text-align: center;
			margin: 0 auto;	
		}
	}
	.box-work{
		margin-bottom: 30px;
	}
	.form__column{
		&:first-child, &:last-child{
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.product{
		&__title{
			font-size: 30px;
		}
		&__wrapper{
			padding: 0 0 30px 0;
		}
	}

	.btn{
		min-width: 280px;
	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){


}

